@charset "UTF-8";

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/nexa/Nexa-Heavy.ttf') format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap'); /*Passion One*/

:root {
    --font-nexa: 'Nexa', Verdana, Arial, sans-serif;
    --font-passion: 'Passion One', Verdana, sans-serif;
    --font-default: Verdana, Arial, sans-serif;

    --white: #F2F2F2;
    --black: #000;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to top, #262626, #404040);
    background-attachment: fixed;
    min-height: 100vh;
}

header {
    background-color: var(--black);
    padding: 35px;
    margin-bottom: 100px;
    color: var(--white);
    text-align: center;
}

header > h1 {
    font-family: var(--font-passion);
    font-size: 11.4em;
    font-weight: 600;
}

.auta-letra {
    font-size: 1.2em;
}

header > p {
    font-family: var(--font-default);
    font-size: 1.3em;
    font-weight: lighter;
    padding-bottom: 100px;
}

nav > a {
    font-family: var(--font-default);
    color: var(--white);
    padding: 18px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 6.5px;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    transition-duration: 0.55s;
}

nav > a:hover {
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    text-decoration: underline;
}

main {
    font-size: 1.2em;
    color: var(--white);
    font-family: var(--font-nexa);
}

section {
    border: 1px solid var(--black);
}